.googleAuth {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header {
  flex-grow: 1;

  &__item {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}

.logoIcon {
  //marginRight: theme.spacing.unit,
  color: green;
  font-size: 45px;
}

.mobile {
  display: none;
}

.picture {
  height: 50px;
  border-radius: 90%;
  //   marginRight: theme.spacing.unit * 2
}

.logout {
  cursor: pointer;
  display: flex;

  &__button-icon {
    margin-left: 5px;
    color: orange;
  }
}

// const styles = {

//   rootMobile: {
//     display: "flex",
//     flexDirection: "column-reverse"
//   },
//   navigationControl: {
//     position: "absolute",
//     top: 0,
//     left: 0,
//     margin: "1em"
//   },
//   deleteIcon: {
//     color: "red"
//   },
//   popupImage: {
//     padding: "0.4em",
//     height: 200,
//     width: 200,
//     objectFit: "cover"
//   },
//   popupTab: {
//     display: "flex",
//     alignItems: "center",
//     justifyContent: "center",
//     flexDirection: "column"
//   }
// };

.map {
  display: flex;
}

.navigationControl {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
}
